<% layout('../layouts/mainlayout.ejs') -%>
<h1 class="text-center"><i class="fa fa-trophy"></i> Scoreboard</h1>

<div class="score-table">
  <table class="scoreboard table-sm table-light table-hover table-striped container">
    <thead>
      <tr>
        <th scope="col" style="width: 100px;" class="text-center">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i < scores.length; i++) { %>
        <tr>
          <th scope="row" class="text-center"><%= i+1 %></th>
          <td scope="row"><%= scores[i].name %></td>
          <td scope="row"><%= scores[i].score %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>